body{

    .clockDisplay{
        align-self: center;
        border-style: dashed;
        border-color: white;
    }
}



.digitDisplay{
    display: inline-block;
}

input{
    display: block;
    width: 30px;
    height: 50px;
}

.upButton{
    width: 30px;
    height: 15px;
}
.downButton{
    width: 30px;
    height: 15px;
}

.buttonDisplay{
    display: inline-block;
}
